*{
    color: #F78888;
    /* rgb(247,136,136) */

    color: #F3D250;
    /* rgb(243,210,80)  */

    color: #ECECEC;
    /* rgb(236,236,236) */

    color: #90CCF4;
    /* rgb(144,204,244) */

    color: #5DA2D5;
    /* rgb(93,162,213) */
}