html{
  font-family: 'Lato', sans-serif;
}

body {
  background-image: linear-gradient(45deg, rgba(93, 162, 213, 0.8) 55%, rgba(144, 204, 244, 0.85)), url("../img/background5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/* -------Slide-------------- */
#home{
  /* animation-name: changeImage;
  animation-duration: 10s;
  animation-iteration-count: infinite; */
  animation: changeImage 10s ease-in-out infinite;
}

@keyframes changeImage {
  0% { 
      background-image: linear-gradient(45deg,rgba(93,162,213,0.8) 55%,rgba(144,204,244,0.85)), url("../img/background5.jpg");
      
  }
  25% { 
      background-image: linear-gradient(45deg,rgba(93,162,213,0.8) 55%,rgba(144,204,244,0.85)), url("../img/background4.jpg");
      
  }
  50% { 
      background-image: linear-gradient(45deg,rgba(93,162,213,0.8) 55%,rgba(144,204,244,0.85)), url("../img/background3.jpg");
      
  }
  75% { 
      background-image: linear-gradient(45deg,rgba(93,162,213,0.8) 55%,rgba(144,204,244,0.85)), url("../img/background2.jpg");
  }
  100% { 
      background-image: linear-gradient(45deg,rgba(93,162,213,0.8) 55%,rgba(144,204,244,0.85)), url("../img/background1.jpg");
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 100px;
  margin: auto;
  margin-top: 110px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
  position: relative;
  bottom: 70px;
  margin-top: 60px;
  margin-left: 10px;
}

h2 {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 40px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: .3s;
}

input:focus {
  outline: none;
  background-color: rgba(255,255,255,0.8);
  border-bottom: 1px solid #1d9494;
}

.btn {
  display: flex;
}

button {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1d9494;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 30px;

  transition: .3s;
}

.btn button:hover{
  background-color: #33afaf;
}

.check {
  margin-left: 54%;
  padding: 3px;
  width: 45%;
}

.check a{
  color: #575757;
}

.link{
  margin-top: 16px;
  text-decoration: none;
  width: 32%;
  padding: 5px;
  border-radius: 10px;
  color: #575757;
  transition: .3s;
}

.link:hover{
  color: #fff;
  background-color: rgb(144,204,244);
}

.link i{
  font-size: 16px;
}

