{% extends 'main.html' %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'resources/css/navbar.css' %}">
{% endblock link %}

{% block content %}
<h3 style="position: relative; left:260px; top:30px;color:rgb(114, 171, 171);font-weight:900">DISCOVER</h3>
<section class="section-discover">
    {% for group in groups %}
    <div class="row">
        {% for picture in group %}
        <div class="col span-1-of-4 discover-picture">
            <a href="{% url 'picture' picture.id %}"><img src="{{picture.image.url}}" alt=""></a>
            <!-- <a href="" class="btn-discover">Xem chi tiết <i class="fa-solid fa-arrow-right"></i></a> -->
            <div class="row">
                <a class="col span-3-of-4" href="{% url 'picture' picture.id %}">{{picture.name}}</a>
                <ul class="btn-icon col span-1-of-4">
                    <li><a href=""><i class="fa-regular fa-heart"></i></a></li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<!-- <section>
    <div class="pagination">
        <a href="#" class="page-number">1</a>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="page-number">...</a>
    </div>
</section> -->
<section class="contact-section" id="contact">
    <div class="row">
        <div class="col span-1-of-3">
            <ul class="information">
                <li><i class="fa-solid fa-location-dot small-icon"></i>Address: HN, VietNam, The Earth</li>
                <li><i class="fa-solid fa-envelope small-icon"></i>Email: supportpainting@gmail.com</li>
                <li><i class="fa-solid fa-phone small-icon"></i>Phone: 09135465489</li>
            </ul>
            <ul class="social-icons">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-google-plus"></i></li>
            </ul>
        </div>
        <div class="col span-2-of-3">
            <form>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Message</label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn" value="Send It">
                </div>
            </form>
        </div>
    </div>
</section>


<footer>
    <div class="row">
        <p>Copyright &copy; 2023 by ROUU</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src="vendors/js/jquery.waypoints.min.js"></script>
<script src="resources/js/script.js"></script>

{% endblock content %}