{% extends 'main.html' %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'resources/css/navbar.css' %}">
{% endblock link %}

{% block content %}

<div class="news-title">

    <h3 style="position: relative;right: 220px; top:20px;color:rgb(114, 171, 171);font-weight:900;font-size: 30px;">
        NEWS</h3>
    <p style="text-align: center;position:relative;top:29px;font-size:20px;padding-bottom: 15px;">(Cập nhập tin tức
        hằng ngày)</p>
</div>
<section>
    <div class="row">
        <div class="col span-1-of-4 news-picture" style="display: flex">
            <div class="news-picture1">
                <img src="{% static 'resources/img/paint38.jpg'%}" alt="">
                <h3><a
                        href="https://thanhnien.vn/co-gai-danh-lua-thi-giac-nguoi-khac-chi-bang-cay-co-trang-diem-1851535489.htm">Cô
                        gái đánh lừa thị giác người khác chỉ bằng cây cọ trang điểm</a></h3>
                <p>Chỉ bằng cây cọ trang điểm, cô gái Toma Skabeikyte (32 tuổi, ở Latvia ) đã mê hoặc mọi người với
                    những tác phẩm siêu thực.</p>
            </div>
            <div class="news-picture2">
                <div class="pic1">

                    <img src="{% static 'resources/img/paint44.jpg'%}" alt="">
                    <b><a href="">Mẫu váy áo 3D độc lạ của Bella Hadid khiến loạt sao châu Á phải nhập
                            “trend”</a></b>
                </div>
                <div class="pic2">
                    <img src="{% static 'resources/img/paint45.jpg'%}" alt="">
                    <b><a href="">Kiếm vài chục triệu đồng từ việc hóa trang Halloween</a></b>
                </div>

            </div>
        </div>


    </div>
</section>
<section>
    <div class="row">
        <div class=" news-picture-row2" style="display: flex;">


            <div class="pic4">
                <img src="{% static 'resources/img/paint48.jpg'%}" alt="">
                <b><a href="">Chung Thanh Phong painting dát vàng thành áo cho Lily Chen</a></b>
            </div>
            <div class="pic5">
                <img src="{% static 'resources/img/paint49.jpg'%}" alt="">
                <b><a href="">Nặng hơn 60kg, người đẹp </a></b>
            </div>
            <div class="pic6">
                <img src="{% static 'resources/img/paint46.jpg'%}" alt="">
                <b><a href="">Chung Thanh Phong vẽ vàng áo cho Lily Chen</a></b>
            </div>
            <div class="pic7">
                <img src="{% static 'resources/img/paint45.jpg'%}" alt="">
                <b><a href="">Chung Thanh Phong vẽ body painting </a></b>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col span-3-of-4 news-picture-row3">
            <div class="pic8">

                <img src="{% static 'resources/img/new7.png' %}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>

                </div>

            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new8.jpg' %}" alt="">

                <div class="pic-doc">
                    <b><a href="">Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</a></b>
                    <ul>

                        <li>Họa sĩ Ngô Lực và người mẫu Kim Phượng đối chất gì ở công an?</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new9.jpg' %}" alt="">

                <div class="pic-doc">
                    <b><a href="">Nữ họa sĩ body painting: 'Quá giới hạn tôn trọng sẽ dẫn đến nguy hiểm'</a></b>
                    <ul>

                        <li>Nóng trên mạng xã hội: Choáng với màn ‘yêu bất chấp’, ‘chửi tới tấp’</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new10.jpg' %}" alt="">

                <div class="pic-doc">
                    <b><a href="">Họa sĩ bị người mẫu tố hiếp dâm tiếp tục phản pháo</a></b>
                    <ul>

                        <li>'Họa sĩ chuyên nghiệp chắc chắn không thể có chuyện hiếp dâm người mẫu'</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new11.jpg'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new12.webp'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new6.jpg'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new7.png'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new7.png'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new7.png'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new7.png'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
            <div class="pic8">
                <img src="{% static 'resources/img/new7.png'%}" alt="">

                <div class="pic-doc">
                    <b><a href="">Người mẫu nude tố họa sĩ hiếp dâm: Sẽ gửi đơn lên Công an TP.HCM</a></b>
                    <ul>

                        <li>Công an kết luận họa sĩ Ngô Lực không hiếp dâm người mẫu</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="qu" style="display: flex;position: relative;top:50px;">
            <img src="{% static 'resources/img/quangcao2.jpg'%}" alt="" style="max-width: 390px;height: 500px;">
        </div>
    </div>
</section>

<section class="contact-section" id="contact">
    <div class="row">
        <div class="col span-1-of-3">
            <ul class="information">
                <li><i class="fa-solid fa-location-dot small-icon"></i>Address: HN, VietNam, The Earth</li>
                <li><i class="fa-solid fa-envelope small-icon"></i>Email: supportpainting@gmail.com</li>
                <li><i class="fa-solid fa-phone small-icon"></i>Phone: 09135465489</li>
            </ul>
            <ul class="social-icons">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-google-plus"></i></li>
            </ul>
        </div>
        <div class="col span-2-of-3">
            <form>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Name</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="text" placeholder="Your Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Email</label>
                    </div>
                    <div class="col span-2-of-3">
                        <input type="email" placeholder="Your Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col span-1-of-3">
                        <label>Message</label>
                    </div>
                    <div class="col span-2-of-3">
                        <textarea placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn" value="Send It">
                </div>
            </form>
        </div>
    </div>
</section>

<footer>
    <div class="row">
        <p>Copyright &copy; 2023 by ROUU</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
<script src="vendors/js/jquery.waypoints.min.js"></script>
<script src="resources/js/script.js"></script>

{% endblock content %}