{% extends 'main.html' %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'resources/css/navbar.css' %}">
{% endblock link %}

{% block content %}

<div class="row profile-page">
    <div class="col span-1-of-4 Profile" style="display: flex;">
        <div class="PR1" style="text-align: center;">

            <div class="avt">
                <a href=""><img src="{{user.avatar.url}}" alt="" style="width:50% ;"></a>
                <h4>{{user}}</h4>
                <p style="font-size: 17px;font-weight: 200;">@{{user.username}}</p>
            </div>

            <div class="folower" style="display: flex;">
                <div class="fl1" style="margin:5px 15px">
                    <p>0</p>
                    <span>Folower</span>
                </div>
                <div class="fl2" style="margin:5px 15px">
                    <p>2</p>
                    <span>Folowing</span>
                </div>
                <div class="fl3" style="margin:5px 15px">
                    <p>{{total_likes}}</p>
                    <span>Likes</span>
                </div>
            </div>

            <div class="content">
                <p>{{user.bio}} </p>
            </div>
            {% if request.user == user %}
            <div class="btn-edit">
                <a href="{% url 'update-user' %}"><button>Edit Profile</button></a>
            </div>
            {% endif %}
        </div>

        <div class="PR2">
            <div class="listPR" style="display: flex;justify-content: space-around;">
                <div class="text1" style="position: relative;right: 140px;">

                    <b>{{user.username}}'s Posts</b>
                </div>
                <div class="bntFL" style="position: relative;left: 120px;">
                    <a href=""><button>Follow</button></a>
                </div>
            </div>
            <div class="imgPR" style="display: flex; flex-wrap: wrap;">
                {% for picture in pictures %}
                <a href="{% url 'picture' picture.id %}" class="imgPR1">
                    <img src="{{picture.image.url}}" alt="">
                    <h5>{{picture.name}}</h5>
                </a>
                {% endfor %}
            </div>


        </div>




    </div>


</div>

{% endblock content %}